<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        
        <style>
         @import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid:wght@300&display=swap');

        </style>
        </head>


    <body style="background-color:#ffffff;">
        <section class="headline">
            <div class="logopromo">
                <div class="logo"><a href="aboutus"  aria-label="aboutus"><img alt="logo_image" src="images/logo.png"></a></div>
                
                <div class="minimenu">
                    <ul>
                    <li class="loginButton"><a href="/login">LOGIN</a></li>
                    <li class="logout"><a href="/logout">LOGOUT</a></li>
                    <li class="registerButton"><a href="/register">REGISTER</a></li>
                    
                    </ul>
                </div>
        
            </div>   
         </section>

        <nav class="choice-bar-">
            <ul>
                <li class="bar-menu"><a href="/aboutus" style="font-weight: bold;">About Us</a></li>
                <li class="bar-menu"><a href="/menu" action="/">  Menu</a></li> 
                <li class="bar-menu"><a href="/restaurant">Our restaurant</a></li>
                <li class="bar-menu"><a href="/contact">Contact us</a></li>
               
            </ul>    
        </nav>



        <main>
            <div class="about">
                <h2>Σας καλωσορίζουμε στην ανακαινισμένη ιστοσελίδα <br>του αγαπημένου σας 
                    Vegan εστιατορίου.</h2> 
                <p> Αν θέλετε να δοκιμάσετε νέες αλλά και γνώριμες γεύσεις με μια ανατρεπτική αντικατάσταση των ζωικών πρωτεϊνών 
                    με τις αντίστοιχες φυτικές τότε βρίσκεστε στη κατάλληλη γωνία του διαδικτύου 
                    και της γαστρονομίας. Οι διακεκριμένοι σεφ μας κουβαλάνε χρόνια εμπειρίας και είναι έτοιμοι να ικανοποιήσουν
                    τις πιο απαιτητικές γευστικές παλέτες. Δημιουργούμε θρεπτικά ολοκληρωμένα πιάτα και με πλήρη ευαισθητοποίηση
                    ώστε να προσφέρουμε εύγεστες εναλλακτικές αντί της κατανάλωσης ζωικών παραγώγων. Εγγυόμαστε ότι τα υλικά μας είναι 100% φυσικά και βιολογικά,
                    χωρίς γενετικές τροποποιήσεις και συμβατά με kosher και halal διατροφές.
                </p>
                <h3>Πάντα με απόλυτο σεβασμό απέναντι στα ζώα και στα δικαιώματά τους. </h3>
                <p>Σας ευχαριστούμε για την προτίμησή σας.</p>
            </div>
            
            
        </main>
        <div class="footer">
            <div class="cont-addr-hours">Πλατεία Γεωργίου A &nbsp;&nbsp;&nbsp; 6910010010</div>
            <div class="copyrightfordetails">Copyright</div>
        </div>




       
        
        

    </body>
</html>