<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        
        <style>
         @import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid:wght@300&display=swap');

        </style>
        </head>


    <body style="background-color:#ffffff;">
        <section class="headline">
            <div class="logopromo">
                <div class="logo"><a href="aboutus" aria-label="aboutus"><img alt="logo_image" src="images/logo.png"></a></div>
                
                <div class="minimenu">
                    <ul>
                    <li class="loginButton"><a href="/login">LOGIN</a></li>
                    <li class="logout"><a href="/logout">LOGOUT</a></li>
                    <li class="registerButton"><a href="/register">REGISTER</a></li>
                    </ul>
                </div>
        
            </div>   
         </section>

        <nav class="choice-bar-">
            <ul>
                <li class="bar-menu"><a href="/aboutus">About Us</a></li>
                <li class="bar-menu"><a href="/menu">  Menu</a></li> 
                <li class="bar-menu"><a href="/restaurant" style="font-weight: bold;">Our restaurant</a></li>
                <li class="bar-menu"><a href="/contact">Contact us</a></li>
            </ul>    
        </nav>



        <main class="grid">
            <div class="socials">
                <a href="www.instagram.com"><img src="images/1.png"></a>
                <a href="www.facebook.com"><img src="images/2.png"></a>
                <a href="www.twitter.com"><img src="images/3.png"></a>

            </div>
            <div class="restinfo">
                <div class="textinfo">
                    <h1>GREEN VEGAN RESTAURANT</h1>
                    <h3>Που θα μας βρείτε:</h1>
                    <p>Πλατεία Βασιλέως Γεωργίου Α' <br> Πάτρα<br></p>
                    <p>Georgiou I Square <br> Patras</p>
                </div>
                <div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=plateia%20georgiou%20a&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:400px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:400px;}</style></div>
            </div>

            
        </main>
        <div class="footer">
            <div class="cont-addr-hours">Πλατεία Γεωργίου A &nbsp;&nbsp;&nbsp; 6910010010</div>
            <div class="copyrightfordetails">Copyright</div>
        </div>




       
        
        

    </body>
</html>